.home {
  background-color: #030b6b;
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 80%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}

.hero-image {
  width: 100%;
  & img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .hero-text,
  .hero-image {
    width: 70%;
  }
  .hero-image img {
    max-width: 80%;
  }
  .hero-text {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-text,
  .hero-image {
    width: 80%;
  }
  .hero-image img {
    max-width: 80%;
  }
}
